body{
  background-image: url(./img/Handbag-Store-Design-1.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: 1400px 460px;
}

h1{
  border-color: white;
  text-align: center;
  text-decoration-color: white;
}

h2{
  text-align: center;
  margin: 40px;
}

.five{
  display: block;
  font-size: 50px;
  padding: 0px;
  margin: 0px;
  color: green;
  text-align: left;
}

.six{
    display: block;
  font-size: 50px;
  padding: 0px;
  margin: 0px;
  color: green;
  text-align: left;
}

ol{
  background-color: gray; 
  background-position: center;
  font-style: italic;
  font-weight: bolder;
  font-size: 35px;
}

.one{
  background-color:rgb(208, 229, 229);
  word-spacing: 15px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.four{
background-color: black;
color: white;
padding: 3px 12px;
}

.sic{
  margin-left: 1002px;
}
